ErrorDocument 403 /error-403.php
ErrorDocument 404 /error-404.php

Header set Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-eval' 'unsafe-inline' *.sfml-dev.org www.gstatic.com www.google.com www.google-analytics.com ssl.google-analytics.com; connect-src 'self' www.google-analytics.com; img-src 'self' https: data:; style-src 'self' 'unsafe-inline' *.sfml-dev.org fonts.googleapis.com; media-src https: data:; font-src 'self' fonts.gstatic.com; base-uri 'self'; form-action 'self'; frame-src https: data:"

RewriteEngine On

# Append the www. prefix for all sites except en.*/fr.*/mirror1.* subdomains
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} !^en\. [NC]
RewriteCond %{HTTP_HOST} !^fr\. [NC]
RewriteCond %{HTTP_HOST} !^mirror1\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force https:// for all except some selected URLs    
RewriteCond %{HTTPS} off
RewriteCond %{THE_REQUEST} !/ip-provider.php [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force http:// for selected URLs
RewriteCond %{HTTPS} on
RewriteCond %{THE_REQUEST} /ip-provider.php [NC]
RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Documentation redirects
RewriteCond %{REQUEST_URI} ^/documentation(/?)(\.php)?$
RewriteRule ^ /documentation/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/documentation/latest(/?)(.*)$
RewriteRule /latest(/?)(.*) /documentation/2.6.0/$2 [R=301,L]

# Tutorial redirects
RewriteCond %{REQUEST_URI} ^/tutorials(/?)(\.php)?$
RewriteRule ^ /tutorials/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/tutorials/latest(/?)(.*)$
RewriteRule /latest(/?)(.*) /tutorials/2.6/$2 [R=301,L]
